## Final Project Submission

Please fill out:
* Student name: Gabe Vazquez
* Student pace: part time 
* Scheduled project review date/time: 1/24: 6PM
* Instructor name: Jeff Herman
* Blog post URL:

# Obtaining the Data

In [1]:
import pandas as pd

In [2]:
#import the data
data = pd.read_csv('kc_house_data.csv')
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

# Scrubbing the Data

In [3]:
#import neccessary packages asd set them to their standard alias
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

### Checklist:

1. Check data types and null values.
* Check if we need/ can create a subset of the data.
* Check for multicollinearity by determining if we have columns that are highly correlated
* Should any columns be removed becuase they do not contain useful information?
* Scale / Normalize our numeric data?
* Deal with categorical columns by one-hot encoding.

#### 1. Check data types and null values.

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21597 entries, 0 to 21596
Data columns (total 21 columns):
id               21597 non-null int64
date             21597 non-null object
price            21597 non-null float64
bedrooms         21597 non-null int64
bathrooms        21597 non-null float64
sqft_living      21597 non-null int64
sqft_lot         21597 non-null int64
floors           21597 non-null float64
waterfront       19221 non-null float64
view             21534 non-null float64
condition        21597 non-null int64
grade            21597 non-null int64
sqft_above       21597 non-null int64
sqft_basement    21597 non-null object
yr_built         21597 non-null int64
yr_renovated     17755 non-null float64
zipcode          21597 non-null int64
lat              21597 non-null float64
long             21597 non-null float64
sqft_living15    21597 non-null int64
sqft_lot15       21597 non-null int64
dtypes: float64(8), int64(11), object(2)
memory usage: 3.5+ MB

##### Data types

Invetigate the unique values inside of `condition` and `grade` becuase these might need to be set to categorical data sets.

In [7]:
print("Condition:")
print(data.condition.unique())

print("Grade:")
print(data.grade.unique())

Condition:
[3 5 4 1 2]
Grade:
[ 7  6  8 11  9  5 10 12  4  3 13]

It appears that `condition` and `grade` should be categories instead of intergers.

In [8]:
data.condition = data.condition.astype("str")
print("Condition: ", data.condition.dtype)

data.grade = data.grade.astype("str")
print("Grade: ", data.grade.dtype)

Condition:  object
Grade:  object

Check that `sqft_basement` should be converted to a numeric value

In [9]:
data.sqft_basement.unique()

array(['0.0', '400.0', '910.0', '1530.0', '?', '730.0', '1700.0', '300.0',
       '970.0', '760.0', '720.0', '700.0', '820.0', '780.0', '790.0',
       '330.0', '1620.0', '360.0', '588.0', '1510.0', '410.0', '990.0',
       '600.0', '560.0', '550.0', '1000.0', '1600.0', '500.0', '1040.0',
       '880.0', '1010.0', '240.0', '265.0', '290.0', '800.0', '540.0',
       '710.0', '840.0', '380.0', '770.0', '480.0', '570.0', '1490.0',
       '620.0', '1250.0', '1270.0', '120.0', '650.0', '180.0', '1130.0',
       '450.0', '1640.0', '1460.0', '1020.0', '1030.0', '750.0', '640.0',
       '1070.0', '490.0', '1310.0', '630.0', '2000.0', '390.0', '430.0',
       '850.0', '210.0', '1430.0', '1950.0', '440.0', '220.0', '1160.0',
       '860.0', '580.0', '2060.0', '1820.0', '1180.0', '200.0', '1150.0',
       '1200.0', '680.0', '530.0', '1450.0', '1170.0', '1080.0', '960.0',
       '280.0', '870.0', '1100.0', '460.0', '1400.0', '660.0', '1220.0',
       '900.0', '420.0', '1580.0', '1380.0', '475.0', '690.0', '270.0',
       '350.0', '935.0', '1370.0', '980.0', '1470.0', '160.0', '950.0',
       '50.0', '740.0', '1780.0', '1900.0', '340.0', '470.0', '370.0',
       '140.0', '1760.0', '130.0', '520.0', '890.0', '1110.0', '150.0',
       '1720.0', '810.0', '190.0', '1290.0', '670.0', '1800.0', '1120.0',
       '1810.0', '60.0', '1050.0', '940.0', '310.0', '930.0', '1390.0',
       '610.0', '1830.0', '1300.0', '510.0', '1330.0', '1590.0', '920.0',
       '1320.0', '1420.0', '1240.0', '1960.0', '1560.0', '2020.0',
       '1190.0', '2110.0', '1280.0', '250.0', '2390.0', '1230.0', '170.0',
       '830.0', '1260.0', '1410.0', '1340.0', '590.0', '1500.0', '1140.0',
       '260.0', '100.0', '320.0', '1480.0', '1060.0', '1284.0', '1670.0',
       '1350.0', '2570.0', '1090.0', '110.0', '2500.0', '90.0', '1940.0',
       '1550.0', '2350.0', '2490.0', '1481.0', '1360.0', '1135.0',
       '1520.0', '1850.0', '1660.0', '2130.0', '2600.0', '1690.0',
       '243.0', '1210.0', '1024.0', '1798.0', '1610.0', '1440.0',
       '1570.0', '1650.0', '704.0', '1910.0', '1630.0', '2360.0',
       '1852.0', '2090.0', '2400.0', '1790.0', '2150.0', '230.0', '70.0',
       '1680.0', '2100.0', '3000.0', '1870.0', '1710.0', '2030.0',
       '875.0', '1540.0', '2850.0', '2170.0', '506.0', '906.0', '145.0',
       '2040.0', '784.0', '1750.0', '374.0', '518.0', '2720.0', '2730.0',
       '1840.0', '3480.0', '2160.0', '1920.0', '2330.0', '1860.0',
       '2050.0', '4820.0', '1913.0', '80.0', '2010.0', '3260.0', '2200.0',
       '415.0', '1730.0', '652.0', '2196.0', '1930.0', '515.0', '40.0',
       '2080.0', '2580.0', '1548.0', '1740.0', '235.0', '861.0', '1890.0',
       '2220.0', '792.0', '2070.0', '4130.0', '2250.0', '2240.0',
       '1990.0', '768.0', '2550.0', '435.0', '1008.0', '2300.0', '2610.0',
       '666.0', '3500.0', '172.0', '1816.0', '2190.0', '1245.0', '1525.0',
       '1880.0', '862.0', '946.0', '1281.0', '414.0', '2180.0', '276.0',
       '1248.0', '602.0', '516.0', '176.0', '225.0', '1275.0', '266.0',
       '283.0', '65.0', '2310.0', '10.0', '1770.0', '2120.0', '295.0',
       '207.0', '915.0', '556.0', '417.0', '143.0', '508.0', '2810.0',
       '20.0', '274.0', '248.0'], dtype=object)

`?` won't be able to be converted to a numeric value. Therefore, change all `?` values to `0`s in order to convert this column to floats.

In [ ]:
len(data[data.sqft_basement == '?'])

In [ ]:
sqft_basement_no_ques = data[data.sqft_basement != '?']
len(sqft_basement_no_ques[sqft_basement_no_ques.sqft_basement == '?'])

In [ ]:
sqft_basement_no_ques.sqft_basement = sqft_basement_no_ques.sqft_basement.astype(float)
print(sqft_basement_no_ques.sqft_basement.dtype)

In [ ]:
sqft_basement_no_ques.sqft_basement.describe()

In [ ]:
sqft_basement_no_ques.sqft_basement.median()

In [ ]:
data['sqft_basement'] = data['sqft_basement'].replace('?', 0)

In [ ]:
data.sqft_basement = data.sqft_basement.astype("float")
print("Sqft Basement: ", data.sqft_basement.dtype)

##### Null values

In [ ]:
data.isna().sum()

Further inspect the unique values in `view`, `waterfront` and `yr_renovated` to determine its value to the data set.

In [ ]:
print("-----View-----")
print(data.view.unique())
print(data.view.value_counts())

print("-----Waterfront-----")
print(data.waterfront.unique())
print(data.waterfront.value_counts())

print("-----Year Renovated-----")
print(data.yr_renovated.unique())

Because there are so few null values for `view` in prportion the rest of the data set, these null rows can simply be removed.

In [ ]:
data = data.dropna(subset=['view'])
data.isna().sum()

The remaining `view` values can be converted to categorical data.

In [ ]:
data.view = data.view.astype("str")
print("View: ", data.view.dtype)

Convert `waterfront` to categorical data.

In [ ]:
data.waterfront = data.waterfront.astype("str")
print("Waterfront: ", data.waterfront.dtype)

Convert `yr_renovated` null values to 0

In [ ]:
data['yr_renovated'] = data['yr_renovated'].fillna(0)

Confirm no more `null` values exist in the data set.

In [ ]:
data.isna().sum()

Review the data set to ensure all else has been maintained

In [ ]:
data.info()

#### 2. Check if we need/ can create a subset of the data.

In [ ]:
len(data)

This is a large enough data set, to build a model on a subset of the data in order to increase the speed during the modeling step. 

The `NaN` string values that have been created in the step prior can be removed in order to create this subset.

In [ ]:
data = data[data.waterfront != 'nan']
data.info()

#### 3. Check for multicollinearity by determining if we have columns that are highly correlated

In [ ]:
# Set Style
sns.set(style="whitegrid")

#Create Covariance matrix
corr = data.corr()

# Generate a mask the size of the covariance matrix (to prevent invalid data)
mask = np.zeros_like(corr, dtype=np.bool)
mask[np.triu_indices_from(mask)] = True

#Set up the matplotlib figure
f, ax = plt.subplots(figsize=(11, 9))

# Gernerate a custom diverging colormap
cmap = sns.diverging_palette(220, 10, as_cmap=True)

# Draw the heatmap with the mask and correct aspect ratio
sns.heatmap(corr, mask=mask, cmap=cmap, vmax=.3, center=0, 
            square=True, linewidth=.5, cbar_kws={"shrink":.5})

#### 4. Should any columns be removed becuase they do not contain useful information?

`id` does not have any correlation with most of the data set, so it is best to remove it

In [ ]:
data = data.drop('id', 1)

In [ ]:
data.columns

#### 5. Normalize our numeric data (using their z-score)

In [ ]:
data.hist(figsize=[16,12])

In [ ]:
skewed = ['bedrooms', 'price', 'sqft_above', 'sqft_basement', 'sqft_living', 'sqft_living', 'sqft_lot', 'yr_renovated']

for predictor in skewed:
    data[predictor] = np.log(data[predictor])
    
data.describe()

Check how many negative values there are in the `sqft_basement` and `yr_renovated` columns.

In [ ]:
print(sum(data["sqft_basement"]<=0))
print(sum(data["yr_renovated"]<=0))

Check to see if makes sense to convert them to their respective medians so as to not disrupt the rest of the aligned data

In [ ]:
basement_median = data.sqft_basement.median()
yr_renovated_median = data.yr_renovated.median()

print(basement_median)
print(yr_renovated_median)

Convert these numbers the neg numbers to 0

In [ ]:
for i in data.sqft_basement:
    if i <= 0:
        data.sqft_basement = data['sqft_basement'].replace(i, 0)

In [ ]:
for i in data.yr_renovated:
    if i <= 0:
        data.yr_renovated = data['yr_renovated'].replace(i, 0)

In [ ]:
data.describe()

Further normalize the data with the z scores of the log- transformed dataset.

In [ ]:
data.price = (data.price - data.price.mean()) / data.price.std()
data.bedrooms = (data.bedrooms - data.bedrooms.mean()) / data.bedrooms.std()
data.bathrooms = (data.bathrooms - data.bathrooms.mean()) / data.bathrooms.std()
data.sqft_living = (data.sqft_living - data.sqft_living.mean()) / data.sqft_living.std()
data.sqft_lot = (data.sqft_lot - data.sqft_lot.mean()) / data.sqft_lot.std()
data.floors = (data.floors - data.floors.mean()) / data.floors.std()
data.sqft_above = (data.sqft_above - data.sqft_above.mean()) / data.sqft_above.std()
data.sqft_basement = (data.sqft_basement - data.sqft_basement.mean()) / data.sqft_basement.std()
data.yr_built = (data.yr_built - data.yr_built.mean()) / data.yr_built.std()
data.yr_renovated = (data.yr_renovated - data.yr_renovated.mean()) / data.yr_renovated.std()
data.lat = (data.lat - data.lat.mean()) / data.lat.std()
data.long = (data.long - data.long.mean()) / data.long.std()
data.sqft_living15 = (data.sqft_living15 - data.sqft_living15.mean()) / data.sqft_living15.std()
data.sqft_lot15 = (data.sqft_lot15 - data.sqft_lot15.mean()) / data.sqft_lot15.std()

In [ ]:
data.head()

In [ ]:
data.describe()

In [ ]:
data.hist(figsize=[16,12])

#### 6. Deal with categorical columns by one-hot encoding.

To be completed after data exploration so as to make it more convenient view data.

In [ ]:
data_cleaned = pd.get_dummies(data)
data_cleaned.head()

# Exploring the Data

In [ ]:
data.head()

In [ ]:
data.describe()

Above shows basic statistics for all the "numerical" columns in the dataset.

In [ ]:
data.hist(figsize=(20,18))

* Most of the variables clearly break the normal assumption
* There are some obvious outliers in some columns 
* Data might need extra preprocessing to clean it up a bit more

In [ ]:
for column in ['bathrooms',
       'bedrooms', 'floors', 'lat', 'long', 'price', 
               'sqft_above', 'sqft_basement', 'yr_built', 
               'yr_renovated', 'sqft_living', 'sqft_living15',
              'sqft_lot', 'sqft_lot15']:
    data[column].plot.hist(normed=True )
    data[column].plot.kde(label=column )
    plt.legend()
    plt.show()

* This further confirms our observations from  simple histograms
* A number of distributions are multimodal - they have more than one "typical values"
* We may need to generate separate plots while fine tuning the number of bins to view the data in a better way

#### Further asses the data with a joint plot

In [ ]:
for column in ['bathrooms',
       'bedrooms', 'floors', 'lat', 'long', 'price', 
               'sqft_above', 'sqft_basement', 'yr_built', 
               'yr_renovated', 'sqft_living', 'sqft_living15',
              'sqft_lot', 'sqft_lot15']:
    sns.jointplot(x=column, y="price",
                  data=data, 
                  kind='reg', 
                  label=column,
                  joint_kws={'line_kws':{'color':'green'}})

    plt.legend()
    plt.show()

* Joint plots further confirm our observations we made earlier.
* Some distributions are *almost* uniformly distributed while other have multiple common values
* `bathrooms`, `bedrooms`, `sqft_above`, `sqft_living`, and `sqft_living15` have strong positive correlation with price
* `long`, `yr_built`, and `yr_renovated` almost have no clear relationship with sales.
* For above variables we see a straightline along the y-intercept i.e. no slope > no linear relation
* The `sqft` variables have the best poritive relationship with `price`

In [ ]:
data.head()

In [ ]:
data.info()

In [ ]:
data['date'] = pd.to_datetime(data['date'])

In [ ]:
data.info()

In [ ]:
data['month'] = data['date'].dt.month

In [ ]:
data.head()

In [ ]:
data['month']  = data['month'].astype("str")

In [ ]:
data.drop('date', inplace=True, axis=1)

In [ ]:
data.head()

# Modeling the Data

In [ ]:
data_cleaned = pd.get_dummies(data)

In [ ]:
data_cleaned.head()

In [ ]:
data_cleaned.info()

View `info` for the numerical data

In [ ]:
data_cleaned.iloc[:,0:10].info()

Ensure all dummy columns are tagged as categorical variables.

In [ ]:
for cat_names in data_cleaned.iloc[:,10:].columns:
         data_cleaned[cat_names] = data_cleaned[cat_names].astype('category')

In [ ]:
print(data.view.dtype)

In [ ]:
data_cleaned.describe()

In [ ]:
import statsmodels.formula.api as smf

In [ ]:
data_cleaned.describe().columns.drop(['price'])

In [ ]:
col_names = data_cleaned.describe().columns.drop(['price'])
results = [['ind_var', 'r_squared', 'intercept', 'slope', 'p-value' ]]
for idx, val in enumerate(col_names):
    print ("KC House: price~" + val)
    print ("------------------------------")

    f = 'price~' + val
    model = smf.ols(formula=f, data=data_cleaned).fit()
    X_new = pd.DataFrame({val: [data_cleaned[val].min(), data_cleaned[val].max()]});
    preds = model.predict(X_new)
    results.append([val, model.rsquared, model.params[0], model.params[1], model.pvalues[1] ])
    print(results[idx+1])

In [ ]:
pd.DataFrame(results)

* What do the parameter estimates mean? Do they make sense?
* What do the p-values tell us?
* What does the R-squared tell us?

`yr_renovated` is the most skewed. Mean-transform to see what happens.

In [ ]:
mt_yr = ((data_cleaned.yr_renovated - data_cleaned.yr_renovated.mean()) / data_cleaned.yr_renovated.std())
mt_yr.hist()

Convert `yr_renovated` to categorical data

In [ ]:
data_cleaned.yr_renovated = data_cleaned.yr_renovated.astype("str")
print("Yr_Renovated: ", data_cleaned.yr_renovated.dtype)

In [ ]:
for i in range(0,len(data_cleaned.columns)):
               print(i,data_cleaned.columns[i])

Rename all columns that have a '.' or '/'. They will hinder our model from running.

In [ ]:
data_cleaned = data_cleaned.rename(columns={'waterfront_0.0': 'waterfront_0', 'waterfront_1.0': 'waterfront_1', 
                                            'view_0.0': 'view_0', 'view_1.0': 'view_1', 'view_2.0': 'view_2',
                                           'view_3.0': 'view_3', 'view_4.0': 'view_4'})

In [ ]:
for i in range(0,len(data_cleaned.columns)):
               data_cleaned.columns[i]

In [ ]:
cols_waterfront = data_cleaned.columns[15:16]
cols_view = data_cleaned.columns[17:21]
cols_condition = data_cleaned.columns[22:26]
cols_grade = data_cleaned.columns[27:37]
cols_month= data_cleaned.columns[38:49]

cols = [cols_waterfront , cols_view, cols_condition, cols_grade, cols_month]
for col in cols:
    sum_cols = "+".join(col)
    form = "price ~" + sum_cols
    model = smf.ols(formula= form, data= data_cleaned).fit()
    print(model.summary())

* Drop continuous variables which resulted in single linear models with a R-squared value < 0.01.
* Drop 1 column for each categorical variable we end up using.

In [ ]:
kc_house_final = data_cleaned.drop(["yr_built"], axis=1)
kc_house_final.describe()

### Feature ranking with recursive feature elimination

Create a matrix X and y containing the predictors and target for the model. Use Scikit-Learn's RFE function, documentation.

In [ ]:
y = kc_house_final[["price"]]
X = kc_house_final.drop(["price"], axis=1)
X.head()

Create a for loop using RFE where we look at the 5, 15, 25,... up until 85 best features to be selected according to the feature ranking algorithm. Store the R-squared and the adjusted-R-squareds for all these models in a list.

In [ ]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [ ]:
r_list = []
adj_r_list = []
list_n = list(range(5,45,5))
for n in list_n: 
    select_n = RFE(linreg, n_features_to_select = n)
    select_n = select_n.fit(X, np.ravel(y))
    selected_columns = X.columns[select_n.support_ ]
    linreg.fit(X[selected_columns],y)
    yhat = linreg.predict(X[selected_columns])
    SS_Residual = np.sum((y-yhat)**2)
    SS_Total = np.sum((y-np.mean(y))**2)
    r_squared = 1 - (float(SS_Residual))/SS_Total
    print(r_squared)
    adjusted_r_squared = 1 - (1-r_squared)*(len(y)-1)/(len(y)-X.shape[1]-1)
    print(adjusted_r_squared)
r_list.append(r_squared)
adj_r_list.append(adjusted_r_squared)

The difference between $R^2$ and adjusted $R^2$ is negligible, and seems to continue to be going up as we include more features. Remember though that we're likely overfitting when including 85 features. In order to identify this, let's rerun a similar experiment, but using a train test split!

### Train-test-split

Create a similar for loop to before. Except, this time

* Use a train test split of 20-80
* Instead of looking at $R^2$ and $R^2_{adj}$, look at the MSE for train and test

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=3)

MSE_test = []
MSE_train = []
list_n = list(range(5,86,10))
for n in list_n: 
    select_n = RFE(linreg, n_features_to_select = n)
    select_n = select_n.fit(X_train, np.ravel(y_train))
    selected_columns = X.columns[select_n.support_ ]
    linreg.fit(X_train[selected_columns],y_train)
    yhat_train = linreg.predict(X_train[selected_columns])
    yhat_test = linreg.predict(X_test[selected_columns])
    mse_train = np.sum((y_train-yhat_train)**2)/len(y_train)
    mse_test =np.sum((y_test-yhat_test)**2)/len(y_test)
    print(mse_train)
    print(mse_test)
MSE_test.append(mse_test)
MSE_train.append(mse_train)y

##### What we see is that both MSE keeps improving when we add variables. It seems like a bigger model improves our performance, and the test and train performance don't really diverge. It is important to note however that is not an unusual result. The performance measures used typically will show this type of behavior. In order to really be able to balance the curse of dimensionality (which will become more important in machine learning), we need other information criteria such as AIC and BIC. You'll learn about them later! Now, let's perform cross-validation on our model with 85 predictors!

### 10-fold cross validation with the final model

In [ ]:
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import cross_val_score

# select 85 best predictors

select_85 = RFE(linreg, n_features_to_select = 85)
select_85 = select_n.fit(X, np.ravel(y))
selected_columns = X.columns[select_n.support_]

cv_10_results = cross_val_score(linreg, X[selected_columns], y, cv=10, scoring="neg_mean_squared_error")

cv_10_results

Running our 10-fold cross-validation highlights some issues for sure! Have a look at your list of 10 MSEs. Where most MSEs are manageable, some are very high. The cure of dimensionality is already pretty clear here. The issue is that we have many (dummy) categorical variables that result in columns with many zeroes and few ones. This means that for some folds, there is a risk of ending up with columns that almost exclusively contain 0's for prediction, which might cause weird results. Looking at this, a model with less predictors might make sense again. This is where we conclude for now. It's up to you now to explore other model options! Additionally, it is encouraged to try some of the "level up" exercises below. Good luck!

# Questions:

* "how did you pick the question(s) that you did?"
* "why are these questions important from a business perspective?"
* "how did you decide on the data cleaning options you performed?"
* "why did you choose a given method or library?"
* "why did you select those visualizations and what did you learn from each of them?"
* "why did you pick those features as predictors?"
* "how would you interpret the results?"
* "how confident are you in the predictive quality of the results?"
* "what are some of the things that could cause the results to be wrong?"

# Summary

This project goes through the OSEMN framework...